<!doctype html>
<html lang="{{ lang || metas.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ metas.site }}</title>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="canonical" href="{{ url |> url(true) }}">
  </head>
  <body class="pico">
    {{ include "../partials/navigation.vto" }}
    <main>
      <div>

      </div>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
